[user]
    email = bogdan.mustiata@gmail.com
    name = Bogdan Mustiata
[push]
    default = current
[credential]
    helper = cache --timeout=86400
[merge]
    tool = diffconflicts
    tool = vimdiff
    ff = only
    renamelimit = 10000
[mergetool "diffconflicts"]
    cmd=diffconflicts "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
[mergetool "diffuse"]
    cmd=diffuse "$LOCAL" "$BASE" "$REMOTE"

[alias]
    serve = "!f() { git daemon --reuseaddr --base-path=. --export-all --verbose --enable=receive-pack $@; }; f"
    current = !git rev-parse --abbrev-ref HEAD
    rpull = !git pull --rebase
    pushu = !git push -u
    co = !git checkout
    vm = !git mv
    cleanup-remote = "!git branch -r --merged | grep -v master | sed 's/origin\\///' | xargs -n 1 git push --delete origin"
    cleanup-github = "!git branch -r --merged | grep -v master | sed 's/origin\\///' | xargs -n 1 git push --delete github"
    cleanup-local = "!git branch --merged | grep -v master | xargs git branch -d"
    cleanup-all-local = "!git for-each-ref --format '%(refname:short)' refs/heads | grep -P -v '^(master|main)$' | xargs git branch -D"
    mtag = "!f() { git tag -m $1 $1; }; f"
    fmtag = "!f() { git tag -f -m $1 $1; }; f"
    lc = log master..@ --pretty=format:"%C(yellow)%h\\ %Cred%s%Cblue\\ [%cn]"  --decorate --reverse --numstat
    uccl = "!f() { git rev-list -1 --before='$1' HEAD | xargs git log -1; }; f"
    hash = !git rev-parse --verify HEAD
    stashgrep = "!f() { for i in `git stash list --format=\"%gd\"` ; \
              do git stash show -p $i | grep -H --label=\"$i\" \"$@\" ; done ; }; f"
    ours =   "!f() { git checkout --ours   $@; git add $@ ; }; f"
    theirs = "!f() { git checkout --theirs $@; git add $@ ; }; f"
    fixws= !"\
      if (! git diff-files --quiet .) && \
         (! git diff-index --quiet --cached HEAD) ; then \
        git commit -m FIXWS_SAVE_INDEX && \
        git add -u :/ && \
        git commit -m FIXWS_SAVE_TREE && \
        git rebase --whitespace=fix HEAD~2 && \
        git reset HEAD~ && \
        git reset --soft HEAD~ ; \
      elif (! git diff-files --quiet .) ; then \
        git add -u :/ && \
        git commit -m FIXWS_SAVE_TREE && \
        git rebase --whitespace=fix HEAD~ && \
        git reset HEAD~ ; \
      elif (! git diff-index --quiet --cached HEAD) ; then \
        git commit -m FIXWS_SAVE_INDEX && \
        git rebase --whitespace=fix HEAD~ && \
        git reset --soft HEAD~ ; \
      fi"
[commit]
template = ~/.gitmessage
[diff "sopsdiffer"]
    textconv = sops -d
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3
    trustExitCode = false
[diff]
    guitool = vimdiff
    tool = vimdiff
[difftool "kdiff3"]
    trustExitCode = false
[core]
    autocrlf = false
[color "diff"]
    meta = 130
    old = 124
    new = 77
[difftool]
    prompt = false
