[user]
	email = bogdan.mustiata@gmail.com
	name = Bogdan Mustiata
[push]
	default = matching
[credential]
	helper = cache --timeout=86400
[merge]
    tool = diffconflicts
[mergetool "diffconflicts"]
    cmd=diffconflicts "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[alias]
    serve = !git daemon --reuseaddr --base-path=. --export-all --verbose --enable=receive-pack
    current = !git rev-parse --abbrev-ref HEAD

