<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" value="width=device-width, scale=initial-scale">
        <title>{{arg0}} test page</title>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <div id="echoMessage">message place</div>
        <input id="message"></input>
        <button id="echoButton">press</button>

        <script type="text/javascript" src="dist/main.js"></script>
    </body>
</html>
