#
# snippet: req
# w (word boundary),
# m (trim spaces on the right of the script)
# Add a require
#
snippet req "Add a require" wm
import * as ${1:path} from "${2:$1}"
endsnippet

snippet im "import"
import { ${1:name} } from "${2:module}"
endsnippet

snippet ref "add a reference"
/// <reference path="${1:../../../typings/}${2:node}/$2.d.ts"/>
endsnippet

snippet class "Add a class"
export class ${1:name} {
	$0
}
endsnippet

