#
# snippet: cs
# w (word boundary),
# m (trim spaces on the right of the script)
# Just a comment section
#
snippet cs "Just a comment section" wm
# ########################################################################
# ${VISUAL}${0:}
# ########################################################################
endsnippet
