#
# snippet: t
# w (word boundary),
# m (trim spaces on the right of the script)
# Create a tag
#
snippet tag "Create a tag" wm
${1:#} tag::${2:tagname}[]
${VISUAL}
$1 end::$2[]
endsnippet

#
# snippet: #
# w (word boundary),
# m (trim spaces on the right of the script)
# Create a number
#
snippet # "Create a number" wm
${1:#} <${2:1}>
endsnippet


