#
# snippet: public
# w (word boundary),
# m (trim spaces on the right of the script)
# Make the current package public
#
snippet public "Make the current package public" wm
package(default_visibility = ["PUBLIC"])
endsnippet

