#
# snippet: cs
# w (word boundary),
# m (trim spaces on the right of the script)
# Add a comment for the section.
#
snippet cs "Add a comment for the section." wm
# #######################################################################
# # ${1:section title}
# #######################################################################
${0:}
endsnippet
